a:hover, a:focus{
	text-decoration: none;
}
body
{
	font-family:'Roboto', sans-serif;
}
.navbar-nav>li>a {
	margin: 12.5px 6px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
	background-color: transparent;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-brand {
    padding-top: 17px;
    padding-bottom: 12.5px;
	line-height: 1.9;
	float: left;
    font-size: 20px;
    height: 65px;
}
.navbar
{
	border-radius:0px;
}
.panel
{
	border-radius: 0px;
	border:none;
}
.row
{
	margin-left: -14px;
	margin-right: -14px;
}